<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circuit Simulator</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="mainnav">
    <div class="mainnav__title">
      <img src="{% static 'images/logo.svg' %}" width="20px" class="mainnav__title__logo">
      <div class="mainnav__title__text">Circuit Simulator</div>
    </div>
    <div class="mainnav__menu">
      <ul class="mainnav__menu__tab_list">
        <li class="mainnav__menu__tab_item">File<img src="{% static 'images/chevron-down.svg' %}" width="15px"></li>
        <li class="mainnav__menu__tab_item">Edit<img src="{% static 'images/chevron-down.svg' %}" width="15px"></li>
        <li class="mainnav__menu__tab_item">Run<img src="{% static 'images/chevron-down.svg' %}" width="15px"></li>
      </ul>
      <div class="mainnav__menu__signin">Sign in</div>
    </div>
  </div>
  <div class="subnav">
    <div class="subnav__tab">
      <ul class="subnav__tab_list">
        <li class="subnav__tab_item"><img src="{% static 'images/arrow-left.svg' %}" width="20px"></li>
        <li class="subnav__tab_item"><img src="{% static 'images/arrow-right.svg' %}" width="20px"></li>
      </ul>
      <ul class="subnav__tab_list">
        <li class="subnav__tab_item"><img src="{% static 'images/rotate-cw.svg' %}" width="20px"></li>
        <li class="subnav__tab_item"><img src="{% static 'images/flip-reverse.svg' %}" width="20px"></li>
      </ul>
    </div>
    <div class="subnav__tab">
      <ul class="subnav__tab_list">
        <li class="subnav__tab_item"><img src="{% static 'images/cursor.svg' %}" width="20px" alt="cursor"></li>
        <li class="subnav__tab_item"><img src="{% static 'images/wiring.svg' %}" width="20px" alt="wiring"></li>
        <li class="subnav__tab_item"><img src="{% static 'images/voltage-circle.svg' %}" width="20px" alt="voltage-circle"></li>
        <li class="subnav__tab_item"><img src="{% static 'images/current-circle.svg' %}" width="20px" alt="current-circle"></li>
      </ul>
      <button type="button">Simulate</button>
    </div>
  </div>
  <div class="content">
    <svg class="board"></svg>
    <div class="rightside">
    <div class="library">
      <div class="library__search">
        <div class="library__search__area">
          <div class="search__text">Search</div>
          <img src="{% static 'images/search.svg'%}" width="20px"></li>
        </div>
      </div>
      <div class="library__element">
        <ul class="library__element_list">
          <li class="library__element_item"><img draggable="true" src="{% static 'images/capacitor.svg' %}" alt="capacitor"></li>
          <li class="library__element_item"><img draggable="true" src="{% static 'images/resistor.svg' %}" alt="resistor"></li>
          <li class="library__element_item"><img draggable="true" src="{% static 'images/ground.svg' %}" alt="ground"></li>
          <li class="library__element_item"><img draggable="true" src="{% static 'images/inductor.svg' %}" alt="inductor"></li>
          <li class="library__element_item"><img draggable="true" src="{% static 'images/voltage-source.svg' %}" alt="voltage-source"></li>
          <li class="library__element_item"><img draggable="true" src="{% static 'images/current-source.svg' %}" alt="current-source"></li>
        </ul>
      </div>
    </div>
    <div class="result">
      <h4>Simulation Results</h4>
      <h5>voltage of node</h5>
      <ul class="result__voltage_list"></ul>
      <h5>current of element</h5>
      <ul class="result__current_list"></ul>
    </div>
    </div>
  </div>
  <script>
    window.boardId = "{{board_id}}";
  </script>
  <script type="module" src="/static/js/drag-library.js"></script>
  <script type="module" src="/static/js/drag-board.js"></script>
  <script type="module" src="/static/js/api.js"></script>
</body>
</html>