* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.mainnav {
  display: flex;
  /* height: 64px; */
  width: 100%;
  padding: 20px;
  /* height: 4rem; */
  /* padding: 1.0625rem 0rem 0.9375rem 0rem; */
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.mainnav__title {
  display: flex;
  /* flex-direction: row; */
  gap: 15px;
  /* width: fit-content; */
  /* text-align: center; */
}
.mainnav__title__text {
  white-space: nowrap;
  font-weight: bold;
  font-size: 15px;
}
.mainnav__menu {
  display: flex;
  /* width: 85%; */
  justify-content: space-between;
  width: 100%;
}
.mainnav__menu__tab_list {
  display: flex;
  gap: 10px;
}
.mainnav__menu__tab_item {
  display: flex;
  align-items: center;
  gap: 1px;
}

.subnav {
  display: flex;
  width: 100%;
  height: 34px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  border-top: 3px solid #F2F2F2;
  border-bottom: 3px solid #F2F2F2;
}
.subnav__tab {
  display: flex;
  /* flex-direction: row; */
  gap: 10px;

}
.subnav__tab_list {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}
.board {
  /* display: flex; */
  position: relative;
  background-color: #F2F2F2;
  width: 100%;
}
.rightside {
  background-color: #EDEDED;
  max-width: 210px;
}
.library {
  display: flex;
  gap: 10px;
  background-color: #EDEDED;
  width: fit-content;
  flex-direction: column;
  height: 60%;
  padding: 10px;
  gap: 10px;
}
.library__search__area {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* padding: 10px; */
  background-color: #FFFFFF;
  padding: 0px 5px 0px 5px;
}
.library__element_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /* padding: 10px; */
}
.library__element_item {
  /* display: grid; */
  width: 56px;
  height: 56px;
  background-color: #FFFFFF;
  align-content: center;
}
.library__element_item img {
  display: block;
  margin: auto;
  height: 40px;
}
.board__element_item {
  position: absolute;
  display: flex;
}

.board__element_wire {
  height: 40px;
}
/* .board__element_item img {
  width: 40px;
  position: absolute;
}
*/

/* cursor */
.probe_voltage_plus {
  cursor: url('/static/images/probe-voltage.svg'), auto;
}

.probe_voltage_minus {
  cursor: url('/static/images/probe-voltage.svg'), auto;
}

.probe_current {
  cursor: url('/static/images/probe-current.svg'), auto;
}

.probe_vout_plus {
  cursor: url('/static/images/probe-vout.svg'), auto;
}

.probe_vout_minus {
  cursor: url('/static/images/probe-vout.svg'), auto;
}

/* result */
.result {
  /* display: flex; */
  gap: 10px;
  background-color: #FFFFFF;
  /* width: fit-content; */
  flex-direction: column;
  height: 40%;
  padding: 10px;
  /* gap: 10px; */
  word-wrap: break-word;
  word-break: break-all;
}

.clicked_element {
  filter: invert(30%) sepia(100%) saturate(700%) hue-rotate(-50deg) brightness(95%);
}

/* 모달 배경 */
.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* 닫기 버튼 */
/* .button__modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #999;
  cursor: pointer;
} */

/* 모달 제목 */
.modal h4 {
  margin: 0 0 20px;
  font-size: 18px;
  color: #333;
}

/* 모달 내용 */
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* 입력 필드와 레이블 */
.modal__field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.modal__field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* 저장 버튼 */
.button__modal_save {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #ededed60;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.button__modal_save:hover {
  background-color: #EDEDED;
}

.analysis {
  /* display: flex; */
  gap: 10px;
  /* background-color: #EDEDED; */
  width: 208px;
  /* flex-direction: column; */
  height: 50%;
  padding: 10px;
  gap: 10px;
}

.analysis__form {
  gap : 20px;
}

.graph__container {
  position: fixed;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
  margin: 20px auto;
  z-index: 1000;
}

.graph__close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.graph__button_close:hover {
  color: #ff3333;
}

.graph__container label {
  font-weight: bold;
  color: #333;
}

#probe {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333;
  font-size: 1em;
  cursor: pointer;
}

#probe:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.graph {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.board__element_item text {
  pointer-events: none;
  user-select: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

.pwl__button_add {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #ededed86;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.pwl__button_add:hover {
  background-color: #EDEDED;
}

.loader {
  display: none;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #979797;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;

  align-items: center;
  justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1200;
}
